{
    "singleQuote": true,
    "semi": true,
    "printWidth": 120,
    "tabWidth": 4,
    "trailingComma": "es5",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrder": [
        "^\\u0000?reflect-metadata$",
        "^\\u0000",
        "^node:",
        "^@(?!videomatt)(?:[\\w-]+)",
        "^(?!src/)[\\w-]+",
        "^src/",
        "^@videomatt",
        "^@tests"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderParserPlugins": ["typescript", "classProperties", "decorators-legacy"]
}
